@import "./atom";

.sec_space {
    padding: 4rem 0;
}


.sm {
    max-width: 60rem;
}

.ps_r {
    position: relative;
}

.anchor_dec-none {
    display: inline-block;
    text-decoration: none;
    // &:hover{
    //     color: $black;
    // }
}

.border_left{
    border-left: 1px solid $black;
}

.transition_class{
    transition: all .3s linear;
}

.pseudo_element {
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}

.btn_custom {
    // display: inline-block;
    text-decoration: none;
    padding: 1rem 1.5rem;
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    border-radius: 2rem;
    font-size: calc(.3rem + .5vw);




    i {
        position: relative;
        z-index: 10;
        font-size: .65rem;
        color: $black;
        font-weight: normal;

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 1.5rem;
            height: 1.5rem;
            background-color: $color-green;
            border-radius: 50%;
            z-index: -1;
        }

    }
}

.btn_black {
    // padding-left: 3rem;
    background-color: $black;
    color: $white;
    text-transform: capitalize;

}


.ul_style-n {
    list-style: none;
}

.custom_ul{
    display: flex;
    list-style: none;
    align-items: center;
}


.custom_flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_elements{
    display: flex;
    align-items: center;
}

.custom_a {
    display: inline-block;
    text-decoration: none;
}

.sec_heading {
    text-transform: capitalize;
    font-size: calc(1.5rem + 1vw);

    h2 {
        line-height: 2.5rem;
    }

    small {
        display: block;
        text-transform: uppercase;
        font-size: 40%;
        font-weight: bold;
        line-height: 1.5rem;
    }
}

.center_text {
    text-align: center;
}



.hollow_text {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px $black;
    -moz-text-fill-color: transparent;
}

@media(max-width: 768px) {
    .sec_space {
        padding: 2rem 0;
    }
}