@import "scss/bootstrap";
@import "./global_classes";
@import "./atom";

//fonts

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Butterfly+Kids&display=swap');

// *{
//     border: 1px solid red;
// }


//font variables
$font_family-a: 'Roboto',
sans-serif;
$font_family-b: 'Butterfly Kids',
sans-serif;




.site_wrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

//buttons
.btn {
  padding: .5rem 1.5rem;
  border-radius: 2rem;
  text-transform: uppercase;
  display: inline-block;
}

.btn:focus {
  box-shadow: 0 0 0 0;
}

.btn_white-fill {
  background-color: $white;

}


h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}


// styling of theme buttons

// .btn_theme {
//   display: inline-block;
//   text-decoration: none;
//   padding: .7rem 1.3rem .6rem;
//   border-radius: .5rem;
//   font-size: calc(.8rem + .2vw);
//   transition: all ease-in-out .2s;
//   background-color: $d-pink;
//   color: $white;
//   border: 1px solid transparent;

//   &:hover {
//     background-color: $white;
//     border-color: $d-pink;
//     color: $color-crimson;
//   }

// }


//global styling

.custom_ul {
  list-style: none;
  display: flex;
}

.custom_anchor {
  display: inline-block;
  text-decoration: none;

}

.flex_just-contant {
  display: flex;
  justify-content: space-between;
}



//Styling of nav section

header {
  position: relative;
  z-index: 100;
}

.nav_sect {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;


}



.nav_main {

  padding: 1rem 0;

  .logo {
    color: $black;
    width: 2rem;
    // animation: logo_anim 4s linear infinite;

    // img {
    //   height: 4rem;

    // }

    svg {

      // overflow: initial;
      .circle_sm {

        // opacity: 0;
        transform: translateX(-400px);
      }
    }
  }

  // @keyframes logo_anim {
  //   0% {
  //     transform: translateY(0);
  //   }

  //   50% {
  //     transform: translateY(.5rem);
  //   }

  //   90% {
  //     transform: translateY(-.5rem);
  //   }

  //   100% {
  //     transform: translateY(0);
  //   }
  // }

  .hamburger {
    display: flex;
    align-items: center;
    // padding-right: 0.25rem;
    gap: .5rem;
    color: $white;
    font-size: calc(1rem + .5vw);
    transition: all .3s ease-in-out;

    span {
      width: 2rem;
      height: 2rem;
      background-color: #eaeaea;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      // margin-top: .5rem;
      transition: all .2s ease-in-out;

      // line-height: 1.5rem;
      // text-align: center;
      i {
        transition: all .2s ease-in-out;
        font-size: .7rem;
        color: $black;
        padding-top: -50%;
      }

    }
  }

}

.nav_list {
  list-style: none;
  gap: 1rem;
  transform: translateY(-200%);
  background-color: rgba($color: $black, $alpha: .8);
  width: 100%;
  height: 100vh;
  transition: all .5s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  padding-top: 5rem;
  // overflow-y: scroll;
}

.nav_list-li {
  position: relative;

  &:before {

    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: $white;
    z-index: -1;
    transform: translateX(-100%);
    transition: all .3s ease-in-out;
  }

  &:hover {


    .nav_list-item {
      color: $black !important;
    }


    &:before {
      transform: translateX(0);
    }
  }

}


.nav_list-item {
  padding: 1rem 1rem;
  color: $white;
  font-size: calc(1rem + .2rem);
  font-weight: 600;
}


//styling of intro section

.intro {
  width: 100%;
  // height: 100vh;
  background-image: url(../img/intro-bg.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: -1;
  // animation: bgc_anim 5s linear infinite;
  background-repeat: no-repeat;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($color: $black, $alpha: .25);


  }


  .intro_row-wrapper {
    position: relative;
    z-index: 1;
    color: $white;
    padding-top: 18vh;
    padding-bottom: 8vh;
  }

  .row_A {
    h2 {

      font-size: calc(4.5rem + .5vw);
    }
  }

  .row_B {
    .col-md-6 {
      margin-left: auto;

      p {
        font-size: calc(1.2rem + .25vw);

      }
    }
  }

}


.intro_inner {
  position: relative;
  z-index: 1;

  h2 {
    position: relative;
    color: white;
    padding: 15rem 0;

    font-size: calc(3.5rem + 1vw);
    font-weight: 400;
    letter-spacing: .25rem;
    display: inline-block;

    span {
      position: absolute;
      right: 0;
      bottom: 7rem;
      color: $white;
      font-size: calc(1.5rem + .5vw);
      transform: translateX(100%);
      display: block;
      padding-left: 4rem;
      width: 40rem;
    }
  }


}



//styling of services section

.services {
  .card {

    position: relative;
    text-align: center;
    padding: 4rem 3rem;
    transition: all .3s ease-in-out;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      opacity: 0;
      transition: all .3s ease-in-out;

    }


    i {
      color: $black;
      font-size: 1rem;

    }

    h2 {
      margin: 1.5rem 0;
    }


  }

  .card:hover img {

    opacity: 1;



  }
}



//styling of intro_further section






.intro_further-inner {
  padding-bottom: 3rem;
}









// Button 
.go-down-btn {
  position: relative;
  z-index: 1;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  &::after {
    position: absolute;
    content: '';
    width: 14rem;
    height: 14rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: 1px solid $black;
    border-radius: 50%;
  }

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    width: 8rem;
    height: 8rem;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 8rem;
    outline: 1px solid $black;
    font-size: 4rem;
    
  }

  svg {
    position: relative;
    z-index: 10;
    display: block;
  }

  text {
    font-size: 10px;
    transform-origin: center;
  }
}

// Animation
@keyframes rotate-btn {
  to {
    transform: rotate(360deg);
  }
}

.go-down-btn text {
  animation: rotate-btn 10s linear infinite;
}




//styling of our_moto section

.our_moto {}

.moto_card {
  text-align: justify;

  h2 {
    margin-bottom: 1.5rem;
  }

  strong {
    text-decoration: underline;
  }
}


//styling of company_slogan section

.company_slogan{
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-top-color: lighten($color: $black, $amount: 30%);
  border-bottom-color: lighten($color: $black, $amount: 30%);
  h2{
    font-size: 5rem;
    white-space: nowrap;
    transform: translateX(100%);
  }
}



//styling of featured_proj section


.featured_proj{
  border-bottom: 1px solid lighten($color: $black, $amount: 70%);
  .sec_heading{
    margin-bottom: 2rem;

    h2{
      font-size: calc(2rem + .5vw);
      
    }
  } 
} 

.featured_proj-list{
  width: 100%;
  margin-bottom: 2rem;
  

  li{
    border-bottom: 1px solid lighten($color: #000000, $amount: 70%);
    // width: 100%;

    &:hover{
      .featured_list-item{
        color: $black;
      }
    }
  }
}


.featured_list-item{
  color: $black;
  position: relative;
  margin-left: 7rem;
  font-size: calc(1.5rem + .5vw);
  color: lighten($color: $black, $amount: 70%);
  padding: 1rem 0;
  text-transform: capitalize;
  transition: all .3s linear;
  

  strong{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-7rem, 1.7rem);
    text-transform: uppercase;
    font-size: 40%;
    color: $black;
    
  }
}

.featured_img-sec{
  position: relative;
  width: calc(17rem + 2vw);
    height: calc(17rem + 2vw);
    display: block;
    border-radius: 50%;
    background-color: $color-green;


  .featured_person-img{
    position: absolute;
    top: 15%;
    left: 25%;
    transform: rotate(-15deg);
    width: calc(14rem + 2vw);
    overflow: hidden;

    img{
      width: 100%;
      animation: img_anim 15s linear infinite;

    }
  }
}


@keyframes img_anim {
  0%{
    transform: scale(1);
  }

  50%{
    transform: scale(1.1);
  }

  100%{
    transform: scale(1);
  }
}



@media(max-width: 992px) {

  .intro_inner h2 {



    span {
      top: 1rem;
      left: 0;
      padding-left: 0;
      transform: translate(0, 25rem);
      padding-right: 1.5rem;
      text-align: justify;
      width: 100vw;
      font-size: calc(1rem + .5vw);
    }
  }


}



@media(max-width: 768px) {
  //

  .intro {
    background-position: center;
    background-image: url(../img/intro-bg-md.jpg);

    &:before {

      background-color: rgba($color: $black, $alpha: .4);


    }
  }


  //styling of .intro_further section

  .intro_further {

    .row [class^="col-"] {
      padding: 1rem 12px;
    }

  }

  //styling of .our_moto section

  .our_moto {
    .row [class^="col-"] {
      padding: 1rem 12px;
    }
  }


  .featured_img-sec{
    margin: 4rem 0;

    .featured_person-img{
      // width: calc(14rem + 2vw);
    }
    
  }


}

.nav_toggle {
  transform: translateY(0);

  body {
    overflow-y: hidden;
  }





}

.icon_rotate {

  span {
    background-color: $color-green !important;

    i {
      transform: rotate(45deg);
    }
  }



}